.footer {
    width: 1600px;
    margin: 0 auto;
    height: 17vh;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);   
}

.footer-container {
    max-width: 1120px;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.white-logo {
    margin-left: 2vw;
    cursor: pointer;
}

.footer__unordered-list {
    display: flex;
}

.footer__list {
    color: white;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

.footer__list:not(:last-child) {
    margin-right: 170px;
}

.item {
    color: white;
}