.nav-item {
    color: #1F1534;
    opacity: 0.5;   
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-items {
    margin-right: 42px;
    margin-top: 13px;
}

.nav-item:hover {
    opacity: 1;
    color: rebeccapurple;
}

.logo {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #458FF6;
    margin-left: 545px;
}

.t {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    color: #FFFF;
}

.logo-name {
    margin-top: 8px;
    margin-right: 7px;
    font-size: 24px;
    font-weight: 700;
}